.home {
  height: 100%;
  padding-bottom: 50px;
}
.home .home_footer {
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: -2px;
  border-top: 1px solid #ececec;
}
.home .home_footer i {
  font-size: 20px;
}
