.index{
    .menu_item{
        text-align: center;
        .menu_item_img{
            width: 48px;
            padding-top: 8px;
        }
        .menu_item_title{
            font-size: 13px;
            text-align: center;
            margin-top: 3px;
        }
    }
}