.index .swiper {
  position: relative;
}
.index .swiper .search_box {
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 0 10px;
  display: flex;
}
.index .swiper .search_box .search {
  flex: 1;
  height: 34px;
  margin: 0 10px;
  padding: 8px 5px 5px 8px;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
}
.index .swiper .search_box .search .location .icon-arrow {
  margin-left: 2px;
  font-size: 12px;
  color: #7f7f80;
}
.index .swiper .search_box .search .form {
  border-left: 1px solid #e5e5e5;
  margin-left: 12px;
  line-height: 16px;
}
.index .swiper .search_box .search .form .icon-seach {
  vertical-align: middle;
  padding: 0 2px 0 12px;
  color: #9c9fa1;
  font-size: 15px;
}
.index .swiper .search_box .search .form .text {
  padding-left: 4px;
  font-size: 13px;
  color: #9c9fa1;
}
.index .swiper .search_box .map_icon {
  padding-top: 5px;
  padding-right: 5px;
}
.index .swiper .search_box .map_icon i {
  font-size: 25px;
  color: #fff;
}
.index .menu_item {
  text-align: center;
}
.index .menu_item .menu_item_img {
  width: 48px;
  padding-top: 8px;
}
.index .menu_item .menu_item_title {
  font-size: 13px;
  text-align: center;
  margin-top: 3px;
}
.index .group {
  background-color: #f4f4f4;
  padding: 7px;
}
.index .group .title {
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
}
.index .group .title .more {
  float: right;
  font-size: 13px;
  color: #787d82;
}
.index .group .group_item {
  background-color: #fff;
  display: flex;
  padding: 5px;
}
.index .group .group_item .desc {
  flex: 2;
  padding: 10px;
}
.index .group .group_item .desc .group_title {
  font-size: 13px;
  font-weight: 600;
}
.index .group .group_item .desc .group_desc {
  font-size: 12px;
  color: #666;
  padding-top: 5px;
}
.index .group .group_item .group_img {
  flex: 1;
  width: 50px;
  padding: 5px;
}
.index .news {
  padding: 15px;
  background-color: #fff;
  overflow: hidden;
}
.index .news .title {
  margin: 10px 0 5px 10px;
  font-size: 15px;
}
.index .news .news_item {
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}
.index .news .imgwrap {
  float: left;
  height: 90px;
  width: 120px;
  margin: 10px 0;
}
.index .news .imgwrap .news_img {
  height: 90px;
  width: 120px;
}
.index .news .desc {
  padding-top: 8px;
  overflow: hidden;
  height: 100%;
  padding-left: 12px;
}
.index .news .desc .news_title {
  margin-bottom: 40px;
  font-size: 14px;
}
.index .news .desc .news_desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #9c9fa1;
  font-size: 12px;
}
