.map {
  height: 100%;
  position: relative;
  padding-top: 45px;
}
.map .map_top {
  position: fixed;
  top: 0px;
  width: 360px;
  height: 45px;
  background-color: #fff;
}
.map #container {
  height: 100%;
}
